[2014-04-06 20:53] mcrmonkey opened #1 "Profile update returns previous details."
To reproduce:
Settings -> profile
type a new message in the about box and click update profile
page will return "profile has been updated" but about box will be populated with previous profile data.
Clicking "profile" or settings reloads the page with updated profile info.

This is not a show stopper though.

[2014-04-07 19:05] #1 closed, assigned to docapotamus

[2014-04-14 05:32] docapotamus opened #2 "Can't delete your comments on other users posts"
This is a massive oversight in a template update. This is fixed in the new_design branch. Will not backport at the moment as new site goes live Friday. Will close issue then. Please be aware.

This does not affect deleting posts. All comments will be deleted during this operation.

[2014-04-15 19:42] docapotamus opened #3 "Comments will not delete as it stands when account deletion goes live"
I made a mistake when designing the data layout in Redis.

All hashes are referred to in lists some where, for example all posts a user makes have there IDs pushed on the users post list (user:posts:$uid)

This allows us to delete all posts by iterating through this list and removing the each corresponding "post:$pid" from Redis, which in turn allows us too delete all comments and votes attached t

[2014-04-19 12:09] #2 closed, assigned to docapotamus

[2014-04-19 13:24] mcrmonkey opened #4 "Emails sent for email changes"
Old account not sent email when changing email address on account

Reproduce:
Alter account email to something different

[2014-04-19 15:36] Dudibob opened #5 "Post Deletion Changes Pages"
When you are deleting posts from the profile page it bounces you to the home page after each deletion.

[2014-04-20 10:00] #5 closed, assigned to docapotamus

[2014-04-20 22:53] mcrmonkey opened #6 "common files are re-directed"
spotted in the logs that common files ( favicon for example ) are redirected to the sign in page for non signed in users: /signin?next=%2Ffavicon.ico

expected behavior would be to just give the file out to the user and not require sign in.

[2014-04-20 23:51] #6 closed, assigned to nobody

[2014-05-22 12:44] #3 closed, assigned to docapotamus

[2014-05-30 23:51] mcrmonkey opened #7 "Password changes on non active accounts"
Users with inactive accounts are able to change their passwords.

Reproduce:
Create an account as normal on the site.
Ignore the activation email.

Return to the site and click the forgotten password link.
Fill in your email and submit

click the link inside the forgotten password email
fill out a new password.

[2014-06-15 00:52] docapotamus opened #8 "Missing (deleted) accounts cause issues in search view"
This is a note for me to fix this in master (0.3dev) and deployed (0.2.5).

If an account is deleted and then the name searched it will throw an error:

UndefinedError: 'None' has no attribute 'email'

I have forgot to filter missing user accounts from the list. By missing I mean the lookups keys get assigned the uid -1 which will always return None when get_user(-1) is called.

This will be fixed

[2014-06-15 15:56] #8 closed, assigned to docapotamus

[2014-06-17 08:57] #7 closed, assigned to docapotamus

[2014-06-28 09:38] docapotamus opened #9 "Re-order comments"
I originally had the comments back to front so the newest was at the top.

This seemed okay but it is very counter intuitive and may make people not bother.

TODO: Re-order comments so they flow from oldest (lower pages) to newest (higher pages).

[2014-06-28 09:39] docapotamus opened #10 "Clean up Pagination"
This is tied in with the comment re-ordering.

Reminder to complete. This needs designing.

If any one has any ideas please let me know.

[2014-07-01 06:17] #9 closed, assigned to docapotamus

[2014-07-01 06:18] #10 closed, assigned to docapotamus

[2014-07-13 17:50] mcrmonkey opened #11 "Signup sanity checks let "restricted characters in address" through for email field"
When signing up some extra checks need to be implemented for the email address field.
Triggering the bug is causing users to be dropped on an ugly error message

Steps for Reproducing the issue:
<Ensure previous sessions are clear and/or you have signed out>
go to the sign up page
fill in the form. Ensure to include a bad character in the email field ( # for example )
click submit.

[2014-07-18 08:03] #11 closed, assigned to nobody

[2014-09-18 18:17] docapotamus opened #13 "Timing issue with pjuu.lib.timestamp()"
I have made the timestamp() function a little more accurate so that the unit tests on my Mac book pro passed.

The problem was that using timegm(gmtime()) was only giving me an integer (yes I know I could have users time.time()) however I decided to append the time.clock() value to the end.

This works on my local development environment and seems to always give me a unique time stamp. Yet when ru

[2014-09-24 07:38] #13 closed, assigned to nobody

[2014-10-01 14:39] docapotamus opened #14 "Code refactor"
The master branch does not pass builds at the moment due to re-factoring work taking place.

We are re-factoring all aspects of Pjuu to correct some design decisions made earlier. We are also carrying out the following:
- Moving to UUID based uids, pids, cids and aids
- Cleaning up unit tests to work with these IDs and going for 100% coverage and 100% functional testing.
- Changing the Redis keys

[2014-10-22 06:08] #14 closed, assigned to nobody

[2014-11-19 09:33] docapotamus opened #19 "Read path optimisations"
With the work going on in _rework/mongodb_ there is going to be some fundamental changes to they way posts and comments are stored.

All the data needed to display these will now be stored along with each document. All the tagged users, the positions of these in the text, the authors user name and anything else that can be thought of.

This will make the write path slightly slower but will drastic

[2014-11-19 19:29] docapotamus opened #20 "Bye bye comments"
As with the issue #19 I have decided to remove the concept of a separate object for comments. I am listing this here as it will be a MASSIVE difference and require a bit of migration work from the current Redis store.

Everything will be a **post** and a comment will be identified by a _reply_to_ attribute on the post.

The presence of this _reply_to_ attribute will also dictate which route the po

[2014-11-21 17:58] docapotamus opened #21 "Move feeds to sorted sets"
Since a lot of the data is going in to MongoDB and space is less of an issue inside Redis I am going to move lists to sorted sets.

This will allow us to fill some users feeds with content as and when they follow new people.

We can't really do this at the moment without the feed items become all messed up as there supposed to based on time.

This needs some thinking about and it will mean all fee

[2014-11-22 11:08] docapotamus opened #22 "Version branches doesn't really work!"
The time has come to get rid of version branches. I copied this idea from things like Flask and Redis but it doesn't really work in our case. We need a new system.

I think Github Flow would work best, after all we use Github and we may as well follow in the footsteps. They know a lot more about Git than I do.

https://guides.github.com/introduction/flow/index.html

This will not come in to play u

[2014-11-25 20:01] pjuu opened #23 "Alerts some times not resetting"
Sarah has an issue where her alerts time is not being set.

There is an alert showing in her alerts tab although she's checked it.

I will investigate some more.

[2014-12-15 07:11] #20 closed, assigned to nobody

[2014-12-15 13:37] docapotamus opened #24 "Can't delete comments on someone elses posts"
URL is being created with the wrong user name. It is **not** using the original posters user name, but the commenters.

[2014-12-16 06:20] docapotamus opened #25 "Add TTL indexes to MongoDB for new/deleted user accounts."
Since moving user accounts from Redis to MongoDB we need to ensure new accounts are expired if they are not activated within 24 hrs.

This is the same as the current deployed version of Pjuu but this needs implementing in MongoDB.

We also need to reserve User names and E-Mails for 7 days once an account has been deleted, this will stop abuse (this requires some thinking).

[2014-12-16 06:21] #24 closed, assigned to nobody

[2014-12-16 10:46] docapotamus opened #26 "Tag highlighting isn't perfect"
Tag highlighting within Pjuu isn't very good we need to make it more robust.

The regex could be better

`(?:^|(?<=[^\w]))@(\w{3,16})(?:$|(?=[.;,: \t]))`

[2014-12-16 12:12] docapotamus opened #27 "Order of followers/following"
The templates don't really make sense for followers/following list because the it goes from oldest to newest. So the pagination buttons are the wrong way round.

Also you probably want to see the newest follower first so it makes sense to switch the ordering,

[2014-12-16 19:27] #21 closed, assigned to nobody

[2014-12-17 06:08] docapotamus opened #28 "Increase max post size"
A small number of us have said that a larger character limit may be useful.

This will allow better conversations to take place.

500 characters seems like a good idea :)

[2014-12-17 06:10] #27 closed, assigned to nobody

[2014-12-17 07:30] #28 closed, assigned to docapotamus

[2014-12-17 18:17] #26 closed, assigned to docapotamus

[2014-12-17 20:00] #25 closed, assigned to nobody

[2014-12-18 11:58] docapotamus opened #29 "Populate feed with posts when following a new user"
So that new users don't have empty feeds until someone posts something and to allow them to get in to the conversations early, when you follow a new user it should place a couple of their post's in to the users feed.

The work has been done to move the feeds to be sorted sets which allows this.

[2014-12-18 18:54] #29 closed, assigned to docapotamus

[2014-12-18 19:07] #22 closed, assigned to nobody

[2014-12-18 19:08] #19 closed, assigned to nobody

[2014-12-18 19:11] pjuu opened #30 "Migrations 0.5 to 0.6"
I need to create the migration script from 0.5 to 0.6. It's going to be a big one.

[2014-12-18 19:12] pjuu opened #31 "MongoDB indexes"
I also need to have a method for created the indexes in MongoDB. I know the indexes are created in pjuu.lib.indexes but I don't want to run this every time a new Gunicorn worker created a Pjuu app. Will work this out.

[2015-01-06 18:47] pjuu commented on #30
This is now complete `scripts/mongo_migrate_05_to_06.py` and tested.

Always forget to mention things in the commit.

[2015-01-06 18:47] #30 closed

[2015-01-06 18:54] pjuu commented on #31
This has been completed. `ensure_indexes.py` in the root of project call the internal `pjuu.lib.indexes.ensure_indexes()` which is used by the unit tests.

This can be run on each deployment if the indexes change.

I have decided not to add migrations for these. Old indexes can be removed manually for the time being. This will changes once we have been using MongoDB for a decent amount of time.

[2015-01-06 18:55] #31 closed

[2015-01-06 18:58] pjuu opened #33 "Add simple dashboard"
For the release of 0.6 I will add a very simply dashboard with statistics.

Total users, total posts, number of active users, number of posts which are replies etc...

This will help people see what is going on.

In the future this dashboard can expand for conflict resolution, reporting and moderating users such as muting, banning or deleting them.

[2015-01-06 19:00] pjuu commented on #4
I honestly can not think of clean solution for this.

For the time being I'm going to close it. It has been here since 0.3.

I think the auth system will get a review in the near future. Will need to add some form of CAPTCHA solution to stop account abuse.

[2015-01-06 19:00] #4 closed

[2015-01-07 20:50] pjuu commented on #33
Going to push this back so I have time to write a strong framework for the separate blueprints to export their own stats.

[2015-01-08 06:56] pjuu opened #34 "Image uploads"
For 0.7 (release after Mongo release) I will add in image uploads.

MongoDB was added to aid with this and simplify our stack. Images will be stored inside GridFS on MongoDB and there will be a `/media` url added which will be able to reach in to GridFS and return a desired image.

To speed this up all of the correct headers will be set so that these images can be cached at a web server such as Ng

[2015-01-08 06:58] pjuu commented on #34
This should be extensible to in the future add video's or sound as a media upload.

[2015-01-08 19:28] pjuu opened #35 "Remove circular imports and duplicate code."
`I would like to point out that there are no issues with circular imports in Pjuu.`

The problem arises when I want to delete posts within the delete account function. This causes a circular import and also does so in the alerts system if I import it.

At the moment the code for the `delete_post` and `delete_post_replies` is duplicated in the `delete_account` function. This has __always__ been the

[2015-01-09 07:08] #35 closed

[2015-01-09 19:20] pjuu commented on #34
This will also need to cover Avatar images as well.

[2015-01-09 19:23] pjuu commented on #34
There will also need to be all the correct cache headers set when serving these assets so that a proxying web server can cache images as they are served from there respective endpoints.

We or anyone else will not be able to treat these like static assets as they will live inside MongoDBs GridFS. We will need endpoints to get the images.

[2015-01-26 19:32] pjuu commented on #33
I've pushed this back to 0.8 as to not make too many changes in one go. This should help with stability at this early stage.

[2015-01-26 19:40] pjuu commented on #34
I am not going to include avatars at this point in time. Gravatar is very useful tools to keep my avatar consistent across all sites I use.

To address this issue we should probably create a Gravatar proxy. For example an endpoint /<username>/avatar which will call the correct gravatar URL in the background and return the image.

@mcrmonkey do you have any strong feelings on this?

[2015-01-30 14:08] pjuu commented on #34
This is now deployed.

[2015-01-30 14:08] #34 closed

[2015-01-30 15:43] pjuu opened #41 "Older browsers and file inputs"
Sarah has a Samsung Galaxy S3 and it the image upload button does not work!

Will need to investigate this.

[2015-01-30 16:27] pjuu commented on #41
This seems to be an issue with the older Android browsers. This also affects pjuu/droidotter on older phones.

WebView uses Chrome in newer versions of Android but the default browser in earlier versions. So the problem is every where.

Fixing these issues also takes over an hour for most users as the CSS cache doesn't clear. We need cache busting in place on per deployment basis.

This is fixed j

[2015-02-02 02:44] pjuu commented on #41
This has been fixed in newer browsers and was an issue with the HTML. I tested this in the build in Android browser.

Caching is a problem but there is also a related issue with Droidotter and the file input.

Have some stuff to do in this ticket, related to the input, for reference, Droidotter issue https://github.com/pjuu/droidotter/issues/2

To do in this ticket.

Limit upload types in HTML htt

[2015-02-02 19:59] pjuu opened #43 "Files not deleting on post deleting"
When deleting posts/replies if there is an image upload attached these are NOT being triggered for deletion in GridFS.

I will fix this soon and clean up any uploads that have been left dangling.

Note: Requires Unittest's.

[2015-02-03 00:20] pjuu opened #44 "Images don't open on replies"
If you click an image in a list of posts or on the view post the image opens in full screen.

On a list of replies it does not do this. I need to jump straight to the full screen image, basically skipping one step for the list of posts.

[2015-02-03 08:03] #43 closed

[2015-02-03 17:14] pjuu commented on #43
This is in master and 0.7 :)

[2015-02-03 20:06] #44 closed

[2015-02-03 23:30] docapotamus opened #45 "Federation"
I am opening this issue so I can keep a log of research and plans for the future implementation of this feature.

Similar to other social networking software which have tried with some success I would like to implement federation in to Pjuu.

Federation will allow different people to run the Pjuu software of their own servers and connect these together. This would allow a user at, for example pjuu

[2015-02-04 07:40] docapotamus opened #46 "Permissions"
Allow users to lock down who can see there profile or any posts they post.

[2015-02-04 07:50] pjuu commented on #41
Added cache busting in b68d79004808eb1a877a4a9402d947c2401e899c.

This takes the mtime of a file within the /static folder and appends it as a query value 'h'

[2015-02-19 07:22] pjuu opened #51 "API"
A Restful API would be nice so we could make a proper Android/iOS app rather than use a web view.

[2015-03-18 10:14] pjuu commented on #41
This affects Android users too, it very confusing when the button doesn't work.

[2015-03-23 20:12] pjuu opened #53 "Hash tags"
It's about time we got some :-) Thanks @mcrmonkey for the idea, I know we are copying.

If you fancy doing some R&D on what end points we need that would be ace, will post here what I find.

This is planned for 0.9 (will tag in a bit). Going to change the way posts work I think so everything is processed when adding one. Going to be needed as that will give us all 3 mentions, URLs and hash tags. G

[2015-03-23 20:38] pjuu commented on #41
I'm going to close this as it is a Droidotter issue now. There is some JS in place to allow the button to be gone. See `author.js` for more details.

[2015-03-23 20:38] #41 closed

[2015-03-23 20:38] pjuu commented on #23
To do with Droidotter not here. Going to close.

[2015-03-23 20:38] #23 closed

[2015-03-24 09:32] pjuu commented on #53
Posts are moving to a more pre-processing method. Links, mentions and hashtags will all be parsed at the time you post and stored along side the post. This will mean looking for them only happens once, it will also allow users the ability to de-tag themselves and such in the future.

This is going to take a little work to get all of these processed before hand but at least will only happen the onc

[2015-03-28 12:40] pjuu opened #54 "Error pages"
Error pages are not handled by the Pjuu application and some should be.

To allow scaling with properly with proxy server (Nginx) and Docker we are going to have to change the error handling.

I though it was a good idea to have Nginx read the errors from disk and server them itself with `    proxy_intercept_errors on;`. So only the error codes come back and Nginx was serving them. This meant Pjuu

[2015-04-07 06:46] pjuu commented on #53
This is a harder problem that I first thought. The code in master is not much use as it can match a `URL`, `mention` or `hashtag` on the same string.

It going to have to work like Jinja2's `urlize` a bit more. Split the string on spaces then try and match each one to a regex. The first one it matches it will be treat as that.

This will require changing the regex's slightly but should work. I wil

[2015-04-21 20:39] pjuu commented on #53
This also isn't going to work that well. Will probably take some pointer from Twitter and the `twitter-text` repository. I have already refactored out the parsers in to the `lib` package. Will push when I get chance.

[2015-05-02 14:59] pjuu opened #55 "Allow hiding of messages in the feed"
It would be nice to remove posts from your feed. It is not a feature I would use but the option would be nice.

[2015-05-02 15:09] pjuu opened #56 "More javascript"
There are parts of the UI that would be much better if they made Ajax style calls for various tasks.

Deleting posts, voting, etc, would all benefit from not changing the flow due to page reloads.

We need to write this in a way that keeps compatibility with text based browsers such as Lynx.

[2015-05-05 06:56] docapotamus opened #58 "Simplify URL schema"
Remove the complexity in the URLs. We should redesign them more a long the lines of a API.

For example:

`/<username>/<post_id>/<reply_id>/delete`

Gives semantic meaning to the URL in a way that is very convoluted. `reply_id` is a reply to `post_id` which was posted by `username`. That is a little silly. It may have made sense a year or two ago in my head but it no longer does.

There is also th

[2015-05-05 07:10] docapotamus opened #59 "Test re-org"
The test suite repeats itself a lot.

We want 100% test coverage and great functional testing. This isn't that easy at the moment.

The test suite should be broken down a little without unnecessarily inflating the test count, it is probably far to low at the moment and we rely on Pythons exception handling a lot to point us to the issue rather than the test number.

After speaking to a friend at w

[2015-05-08 12:50] pjuu commented on #55
Sorry mate, I did this to get back in to adding features.

[2015-05-08 12:50] #55 closed

[2015-05-08 12:53] pjuu opened #61 "Issue labels"
These need sorting out as they are not very efficient.

[2015-05-08 14:50] pjuu commented on #51
http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#requirements

[2015-05-08 18:55] docapotamus opened #62 "Jessie for docker"
Convert the docker image to Jessie rather than Wheezy.

There are some issues with the required libraries that need to be tested.

[2015-05-08 19:14] pjuu commented on #53
This feature is in but it needs some polish. It realistically should have been done as a PR but we now know for another time.

[2015-05-09 12:40] pjuu commented on #54
As a starting point Pjuu is going to handle 403, 404, 405 and 500 errors via the Flask `errorhandler` decorator.

Other errors such as bad gateway or maintenance mode (503) are web server specific. So these will be handled by Nginx and will no longer be part of this repo. We will be moved to our Ansible repo. This will be open sourced once we decide what we can share as our encrypted SSL keys are

[2015-05-10 01:58] mcrmonkey commented on #56
Probably worth looking in to "dataType" here. We can set this on an ajax style call and when its not present it has the same effect as it does now.

See [this](http://stackoverflow.com/questions/18701282/what-is-content-type-and-datatype-in-an-ajax-request) for more info and a quick example

[2015-05-10 11:12] pjuu commented on #56
We can just use the built in Flask method for checking this http://flask.pocoo.org/docs/0.10/api/#flask.Request.is_xhr

[2015-05-11 05:52] pjuu commented on #54
This has been complete from Pjuu's perspective. We need to add 502, 503, etc, to Nginx. Will work on that separately.

[2015-05-11 05:56] pjuu commented on #59
This can be done the same time as #46

By sorting out the permissions a lot of the tests will need sorting.

[2015-05-11 06:22] pjuu commented on #56
We need to re-style the flask messages so we can generate the messages from JS also without needing to scroll.

[2015-05-12 10:51] pjuu commented on #62
... Hold out on this.

[2015-05-19 06:39] pjuu commented on #58
`/i-has-alerts` isn't very pretty.

Will probably move to `/alerts/new` to return the same thing.

[2015-05-19 11:09] Dudibob commented on #58
Looks great. Should help for SEO things as well.

On Tue, May 19, 2015 at 7:39 AM, Joe Doherty <notifications@github.com>
wrote:

[2015-05-19 17:06] mcrmonkey commented on #58
probably worth sticking as close as you can to what the url is for
eg:
/alerts/check - check if there are new alerts for a user
/alerts/show - show users alerts (?)
or skip the /show part and if a user lands on /alerts it just shows the alerts. kind of a default action type thing

[2015-05-20 01:54] mcrmonkey commented on #61
I would suggest the following perhaps:

Priority's:
- High
- Normal
- Low
- Planned

Category's:
- Infrastructure
- Application
- Data Storage
- Security
- UI (User Interface)
- UX ( User Experience ) - meaning how stuff flows
- Bug

[2015-05-21 05:55] pjuu commented on #61
Looks good to me buddy. We can refine it as we add the labels to the current issues.

[2015-05-21 10:04] pjuu commented on #61
I've added "Wont Fix" and "On Hold" to this list and implement them. Will classify what is here and what has been as a good test.

[2015-05-21 10:09] pjuu commented on #61
I've classified all the current ones... do they make sense? Would you classify these differently?

[2015-05-22 01:37] mcrmonkey commented on #61
looks okay to me that.
Although i would consider putting one of the priority tags on every issue. Mainly because my CDO says so. :)

[2015-05-22 01:55] mcrmonkey commented on #61
also applied to infrastructure repo and issues there

[2015-05-22 06:14] pjuu commented on #61
I agree and I thought I had. I used planned in most places because we don't have any issues.

[2015-05-22 10:05] pjuu opened #67 "Clever(er) alerts"
The alert mechanism is very simplistic but it works.

It could possibly do with being cleaned up as I am not truly happy having jsonpickle store an object in Redis.

It may be nice to mark these as read. You don't want to get an alert if you are already on a post and have seen the comment and you don't want them to be all marked as read when you visit the alerts page.

Don't know if this will make

[2015-05-22 23:27] mcrmonkey commented on #61
Okies
I'm going to close this because i think its done

[2015-05-22 23:27] #61 closed

[2015-05-29 11:44] pjuu commented on #46
Going to pick this up :smilecat:

The plan is to open profiles and posts to the world if a `public` flag is set on the post.

These should be selectable by the user when posting such as marking a post 'Public' will enable the world to see it on your profile and view it.

All replies to a public post will be public as it is the original poster who gets to decide. Also if replies could be Pjuu only

[2015-05-29 14:43] pjuu commented on #46
So uploads can be marked we need to also add a `public` key to them when they are uploaded. It will also need to be updated as the post is changed to public or not based on the presence of an `upload` field.

[2015-06-02 12:37] pjuu commented on #46
Going to restyle the author boxes for posts and replies so I can add in the new public button. This will not be present on replies as its the post owner to decide if post is public.

[2015-06-05 16:05] pizzamaker opened #69 "Please add to F-Droid"
A thread for is has been created at https://f-droid.org/forums/topic/pjuu/

[2015-06-05 18:58] mcrmonkey commented on #69
Noted.

And thank you :)

For reference I'm the one operating the "pjuu" account at the moment on the forum.

[2015-06-07 17:41] pizzamaker commented on #69
Added!

[2015-06-07 17:41] #69 closed

[2015-06-07 18:38] pjuu commented on #69
Thanks @pizzamaker :)

[2015-06-08 16:13] pjuu opened #71 "Follow suggestions"
Implement suggestions for people to follow. It is very hard to find people I would imagine if the site is public.

There is some clever sorted set stuff we can do in Redis to make this a little less painful.

[2015-06-08 17:33] deavmi opened #72 "Installation docs"
Will there be an easy installation script or some documentation on how to install **Pjuu*?

Thanks in advance. :smile:

[2015-06-08 18:49] pjuu commented on #72
Hi :) I will try throw something together in the next day or so and will post it as a wiki. I'll try and outline how we have it deployed its relatively simple.

It will probably just be for Linux however as apart from a Macbook I don't own anything else :(

[2015-06-08 18:54] deavmi commented on #72
That's awesome. I use GNU/Linux-libre, so hence that would be great.

Thanks :wink:

[2015-06-08 19:10] pjuu commented on #72
Their is a guide in the README to getting running on your laptop it is for Debian Wheezy/Ubuntu (don't know versions of that to much).

[2015-06-08 21:40] deavmi opened #73 "Add link to license on about us page"
In the **About Us** page, you mention the GNU AGPLv3 license. I think making the license text into a hyperlink is very important.

The link.to the license is here: http://www.gnu.org/licenses/agpl-3.0.html

[2015-06-08 21:41] deavmi commented on #72
@pjuu okay. Thanks. :smile:

[2015-06-09 10:44] deavmi opened #74 "Ideas"
These are some of my ideas for **Pjuu**.

- [ ] ~~Click-able and viewable full-size profile picture (from clicking the profile picture from the user's profile page)~~ Will fix in #104
- [ ] ~~Sound on new alert~~ (Not going to implement, as the method should be thought about on all platform and we need an API and the likes first)
- [ ] ~~Direct Messaging~~ #107
- [ ] ~~Posts per Feed page selectio

[2015-06-09 10:48] deavmi opened #75 "More preferences"
I think it would be great for the user to have more settings in the settings area, such as:

- [ ] The ability to enable HTML refreshing at a certain interval for the suers' feed
- [ ] Ability to change your color scheme (basic themeing)

[2015-06-09 11:01] pjuu commented on #75
Neither of these are going to be implemented any time soon to be honest. We have a lot more stuff we would like to implement before we worry to much about aesthetics at the like.

Will close this but will have it as reference.

[2015-06-09 11:01] #75 closed

[2015-06-09 11:14] deavmi commented on #75
@deavmi Thanks

[2015-06-09 13:15] deavmi commented on #73
Yay!

[2015-06-09 13:16] deavmi commented on #74
Email alerts would be great.

[2015-06-10 10:21] deavmi commented on #73
Thanks :wink: :smile:

[2015-06-10 10:21] #73 closed

[2015-06-10 22:23] Walkman100 commented on #74
@deavmi you should expand that last point, more preferences, into the two on the referenced issue.

[2015-06-11 16:36] deavmi commented on #74
@deavmi Will do that soon, need to quickly finish some of my BoaGen stuff, then I will get back to Pjuu.

[2015-06-12 03:58] psgs opened #78 "Pjuu's style of design"
Hello!

My name's psgs, and I'm quite new to Pjuu. I was wondering, what sort of design or UI style should be implemented with Pjuu? Would a warm, colourful style be appropriate, or a calmer, relaxing, cooler style?

Many thanks,
psgs :palm_tree:

[2015-06-12 04:27] pjuu commented on #78
Hi @psgs I'm not 100% sure as I'm not a designer :-P. The design is just done me making it work and not look as terrible. Feel free to do as you wish as long as its not crazy and has relative good browser support :-)

[2015-06-12 04:55] psgs commented on #78
Hi @pjuu,

Thanks for your quick reply! I'll see if I can add a few things :smiley:

[2015-06-12 04:55] #78 closed

[2015-06-12 14:12] pjuu commented on #78
That would be brilliant :-) please don't get offended if we don't instant pull something though. We are trying to keep things as simple as possible

[2015-06-12 23:14] psgs commented on #78
That's fine :wink:
Simple is great.

[2015-06-16 13:03] pjuu commented on #72
@deavmi can you please point out what you need help setting up? I don't want to make them to generic if it is a specific issue.

[2015-06-16 13:10] deavmi commented on #72
This issue can be closed, I have realized there is an installation script on the `README.md` file. Sorry.

[2015-06-16 13:10] #72 closed

[2015-06-16 15:50] pjuu commented on #72
:)

[2015-06-17 08:34] pjuu commented on #59
This isn't feasibly going to happen in 0.8 as it is a lot of work. Will place it on hold for the time being. I need a more details plan to the new layout of tests

[2015-06-17 19:11] pjuu commented on #54
Re-opening due to misunderstanding on my part about Flask error handling.
It needs to handle actual errors such as exceptions.

[2015-06-17 20:37] pjuu commented on #54
This basically just needs to handle exceptions which are not ``werkzeug.exceptions.HTTPException``. This can also go hand-in-hand with adding a custom exception logger so Sentry is not a requirement.

[2015-06-29 21:45] pjuu commented on #54
Have it sorted I think may have to add some docs on adding your own to init. It doesn't seem like something that can be done that generically unless there is a big config dict.

[2015-06-30 19:36] pjuu commented on #62
@mcrmonkey any change you can look in to this. Since I know you love Jessie and systemd :package:

[2015-06-30 19:54] pjuu commented on #54
This can be sorted with a wiki to show how to add a custom logger.

[2015-06-30 20:37] pjuu commented on #74
@deavmi please can you expand on "Alerts per Alerts page selection"?

[2015-06-30 20:38] pjuu commented on #58
@Dudibob didn't ever see your post. Please can you expand or join webRTC?

[2015-07-01 07:34] deavmi commented on #74
The ability to choose how many alerts there are on the notifications page.

[2015-07-02 09:27] pjuu commented on #74
Okay. That will come in when setting the length of pagination objects is added.

[2015-07-03 06:46] pjuu commented on #74
@deavmi Can you please expand on " I think that if a post was made and it notifies the user of that post but then the post is deleted, then the alert item should be removed form the alerts list/page"? This should already be happening due to verify() methods on alerts.

https://github.com/pjuu/pjuu/blob/master/pjuu/lib/alerts.py#L91-L98

Each alert type implements it's own verify().

You may still

[2015-07-03 06:50] pjuu commented on #62
This is listed on the Debian package list for Jessie. https://packages.debian.org/jessie/python-pil

It says its the Pillow fork. In all honesty we could also do with a list for setting Pillow up on Debian, Ubuntu & CentOS latest versions. Will do some testing of running it on said systems and make a Wiki page for it.

[2015-07-03 07:18] pjuu commented on #58
At a like "check" but show is not needed as rest would suggest that /alerts/ is correct for a list of resources.

I know its not an API at this time but no reason to deviate.

[2015-07-03 16:56] deavmi commented on #74
That is EXACTlY what I meant :).

Sent from my iPod

[2015-07-03 17:27] Walkman100 commented on #74
@deavmi Well he talked about two different things... which of the two were 'exactiy' what you meant?

[2015-07-03 19:26] deavmi commented on #74
Add a feature of which can display on a post the date and time of when it was posted.

[2015-07-03 19:27] deavmi commented on #51
What is a Restful API? What does that mean?

[2015-07-07 17:04] docapotamus opened #85 "Reverse votes/flags within time frame"
Allow reversing a vote within a time frame.

This will mean if you vote wrong or vote by accident you can reverse the vote. So a +1/-1 can be changed to 0 by pressing the same vote again. This will should allow you to re-vote.

This how ever can be changed once the time frame from your last up/down vote has passed.

[2015-07-07 17:05] pjuu commented on #74
Opened issue #85 relating to undo votes.

[2015-07-07 17:56] pjuu commented on #85
Easiest way to achieve this is going to be store -/+ timestamp as the sorted set score on a vote rather than -1 or +1.

[2015-07-08 18:00] pjuu commented on #85
@mcrmonkey this is a good one.

If you downvote someone with a user score of 0 then it does not apply the -1.

Then when it comes to undoing an upvote and your on a 0 score how should that be handled?
Also when you undo a downvote if they are on 0 should it apply a +1 as we don't know if the -1 was actually applied?

I have a few options which I want your advise on.

1. Remove minumum of 0 on a us

[2015-07-09 11:25] pjuu commented on #51
Wikipedia explain it quite well https://en.wikipedia.org/wiki/Representational_state_transfer

[2015-07-09 12:36] deavmi commented on #51
Okay. Thank you. I will be reason that. :D

-----------------------
Sent from Deavmi
Keep on hacking...

Contact Deavmi via:

Pjuu: https://pjuu.com/deavmi
GNU Social: deavmi@quitter.se
Twitter: https://twitter.com/deavmi
Main mailbox: deavmi@openmailbox.org

[2015-07-09 16:39] mcrmonkey commented on #85
If the user is on a zero score and a commenter removed their upvote it should knock it down to -1

From questions above:

1. what would the minimum for the user then be ?
2. "if the post was applied" - not sure i get what you mean here
3. i'm fine with the downvote thing tbh. whats the motivation for removing this ?
4. errm i dont mind this being there tbh. We could remove it though.
5. err what ?

[2015-07-09 18:27] pjuu commented on #85
The vote applied means did it affect the post. For example if you pressed -1 the post would go to -1 but if the user was on 0 it would not go to -1. I though this would reduce bullying.

We could remove a users score and just have a post score or just allow users to go into negative.

If we decided to implement federation I don't know why any other sire would enforce a -1 however

[2015-07-13 21:22] mcrmonkey opened #90 "Option for loading images"
Some users may not wish to load images by default on their timeline.

We should give users an option to alter this behaviour

Options should be:

* Load posted images automatically
* Let me load images by clicking a link

This option may be beneficial for users with a lower bandwidth ( mobile users for example )

[2015-07-14 08:56] pjuu commented on #90
Like it :+1:

We could just highlight in the place of the image on a feed that there is one and then when they enter the post they will see the image.

[2015-07-15 17:32] pjuu commented on #90
@mcrmonkey Can you please confirm the options because they are to complex.

The image should load when looking at an individual post no matter what otherwise a user will not get what is said in the correct context.

To that extend I propose an option "Don't load images on feed".

This will replace images on your feed, a user post list with a link saying there is an image. It will then be displayed

[2015-07-15 18:47] pjuu commented on #58
@mcrmonkey started the work on this. As discussed yesterday I've changed the alerts to 60 seconds and done it on a 200 OK, 404 NOT FOUND both should save idle bandwidth.

[2015-07-15 23:45] mcrmonkey commented on #90
yeah sounds about right

maybe be worth looking in to 3 options then:

* click to load all images
* Load images while viewing posts
* always load images

Probably worth asking users what they would like maybe

[2015-07-16 08:25] pjuu commented on #90
Ahhh... I see the issue the comments can also have images. I was thinking about the main posts contents which I think should always show the image if for example you are `/joe/<post_id>`.

The ones in the comments is a good point though. We can class that as a `feed` though. As clicking the image in a comment takes you no where except to the image itself which could get annoying as we don't allow

[2015-07-17 01:40] psgs opened #93 "Pjuu's Login Page"
Hello!

I have recently prototyped several new layouts for Pjuu's login page.
Which layout would work best with Pjuu? Is there anything that could be improved with either layout?

![First Login Page](https://cloud.githubusercontent.com/assets/3946887/8738907/74dce38a-2c78-11e5-82d1-2d86521e9d28.jpg)

---

![Second Login Page](https://cloud.githubusercontent.com/assets/3946887/8738917/7a3b76b6-2c78

[2015-07-17 06:58] pjuu commented on #93
:clap: wow they look amazing @psgs !!!

I really like the first one.

@mcrmonkey thoughts?

We may need to make the forgot password, reset password and signup forms follow a similar pattern so the entire auth system gets a lovely update

[2015-07-23 18:15] pjuu commented on #54
Pushed a change to overcome the raising of non `werkzeug.exceptions.HTTPException`

[2015-07-23 18:15] #54 closed

[2015-07-23 18:16] pjuu commented on #53
Related to #64

[2015-07-23 18:19] #53 closed

[2015-07-24 08:27] pjuu commented on #85
I love this idea but I am going to push it back to 0.10 as I think it is not critical at this point in time. It also gives me some time to work out a good solution.

[2015-07-25 11:42] pjuu commented on #93
We will need to stack the inputs on top of each other when scale in to mobile mode. We can create a another media-query so that we can have desktop, tablet and phone unlike now where tablets are treated as phones/desktops depending on size.

[2015-07-25 11:46] psgs commented on #93
That sounds like a great idea :smiley:

[2015-07-26 15:48] #93 closed

[2015-08-18 10:04] docapotamus commented on #45
After much thought about federation I think it is not a good idea if the main plan for Pjuu is privacy.

I think privacy on a social network all comes down to how much you can trust the administrators of such a system. I don't think that passing your messages from a site you may trust to another site owned/administered by someone you may not know.

If you do not trust the administrators of the net

[2015-08-24 08:13] docapotamus commented on #46
Going to push this back to 0.10 as I think this needs some more thought. I don't know if opening up Pjuu is the correct thing to do.

[2015-08-24 08:15] docapotamus commented on #56
Pushing back for the time being. Due to some ongoing work this it will be best for the changes currently being made to be deployed first.

[2015-08-24 08:18] docapotamus opened #99 "Upvoting, Downvoting, Following & Deleting CSRF"
If you are currently logged in to Pjuu and visit a website which is malicious they could force you to follow a user, delete a post or upvote a post you do not want to.

This is being fixed at the moment and all actions affecting your account will move to a CSRF protected POST.

[2015-08-24 18:12] docapotamus commented on #99
This fix has now been merged.

[2015-08-24 18:12] #99 closed

[2015-08-25 12:37] docapotamus commented on #46
@mcrmonkey I really like your idea of circles similar to Google+. This would be a lot more sane than trying to do it for users in a complex way. We need to come up with a good method to mix that with the followers model.

[2015-08-30 12:39] deavmi opened #102 "Use .strip () function on username parsing process"
Use .strip () function on username parsing process

[2015-08-30 12:57] docapotamus commented on #102
Good idea. There can't be any harm in the username. Will see what OWASP says about passwords because it could work there also. :+1:

[2015-08-30 13:24] mcrmonkey commented on #102
Indeed
However, other than general escaping etc the password shouldn't be messed with.

[2015-08-30 18:37] deavmi commented on #102
Of course. The password should be able to contain spaces.

Sent from my iPod

[2015-08-30 18:37] deavmi commented on #102
Don't use it for passwords. I want spaces in my password. :) lol

Sent from my iPod

[2015-09-04 09:41] docapotamus commented on #102
You are correct on that but strip only removed surrounding spaces. Would be confusing if we removed any though. Will implement this when I get back.

[2015-09-04 17:59] deavmi commented on #102
Oh yes. I see what you mean. Maybe do a .split(" ") and then iterate through that list and concatenation to a string. And then use that as the restitched username. That should work. Idk I think this is right. Yeah this will work.

Sent from my iPod

[2015-09-09 09:06] docapotamus commented on #102
The username doesn't matter because it had to match a regex otherwise it fails anyway.

[2015-09-09 14:24] #102 closed

[2015-09-09 16:53] deavmi commented on #102
I see what you mean, but it would allow for people who make tonnes of erros to logon easily, but never mind, that would cause the world to explode in to fine bits of spaces.

[2015-09-09 16:53] deavmi commented on #102
Doing it on the password makes no sense at allI want the password `\ Hello\ \ `.

[2015-09-10 09:08] docapotamus opened #104 "Avatars"
The time has come to remove our last external dependence Gravatar.

We could use a proxy in Nginx to get the avatar but this isn't going to solve the last privacy concern because it would still be known to an external site that your e-mail address is being requested for Pjuu.

That is also a systems issue as the most efficient pay would be to return the gravatar URL from the application and have N

[2015-09-10 09:13] docapotamus opened #105 "Clean up new auth design"
Thanks to @psgs we have a lovely new design for the auth system.

This system requires a few tweaks to enable it to fit in to the rest of the site in future:

- [ ] Remove drop shadow and change colors instead
- [ ] Slighly adjust the text areas for desktop, tablet and mobile devices
- [ ] Correct margins not to type in the curved area of the boxes
- [ ] Adjust the flash message styling on the res

[2015-09-10 09:16] docapotamus commented on #58
Their is just one thing to do on this and that is remove the `reply_id` laden URLs as this data can be gathered internally. A reply is a post!

Moving this to 0.10.

[2015-09-10 15:06] docapotamus opened #106 "Change pagination sizes"
Allow paginations to be set to a size (from a list) in the settings rather than in the application settings.

[2015-09-10 15:13] docapotamus opened #107 "Direct Messaging"
Allow users to message each other directly. This is very useful in some situations.

Should not be implemented like chat, and should not be a replacement to social interaction.

[2015-09-10 15:16] docapotamus commented on #74
I have created issues for the ideas that will be implementing from this. Thanks @deavmi, I'm going to close this issue, I have added links to the new issues.

[2015-09-10 15:16] #74 closed

[2015-09-10 17:12] deavmi commented on #74
@Joe it's a pleasure. :cake: :smile_cat:

[2015-09-10 17:18] deavmi commented on #107
If not by chat then how else?

[2015-09-12 17:45] deavmi commented on #74
Pleasure ;)

Sent from my iPod

[2015-09-16 13:12] docapotamus commented on #107
Just sending a message. When I mean chat I mean live chat systems. I would prefer it to just be for passing around sensitive data. Very similar to DM on Twitter.

[2015-09-25 18:03] docapotamus opened #112 "Allow new lines in posts"
Allow new lines in posts and limit the impact this will have on users feeds.

This will more than likely be implemented with ellipses. This can then provide a second link to the post itself.

Note: the hope this this work can lead on to some more formatting options available to posters.

[2015-09-27 12:03] docapotamus commented on #90
In master from above PR.

[2015-09-27 12:03] #90 closed

[2015-09-29 15:54] docapotamus opened #115 "Reporting of posts"
Allow a button on each post to report it. The back end for this can be put in to the dashboard to allow moderation by OP (over powered) users only.

Note: This is needed in the site so that iOtter can be accepted in to the app store. I also believe it is a good idea.

[2015-09-29 15:58] docapotamus opened #116 "Add T&Cs to signup"
Add some T&Cs to the empty '/terms' page and ensure there is a message explaining acceptance on sign up.

Highlight in the code that `about`, `privacy policy` and `term and conditions` can be changed if you are running the software yourself. So long as the sources are available under the GPL. There is nothing wrong with version controlled legal documents! :smile:

[2015-09-30 22:51] deavmi opened #117 "More profile fields"
It would be nice to see a feature for profiles of which would allow us to have a homepage/website field to fill in. Optional a country field too.

[2015-10-01 06:26] docapotamus commented on #117
This is a good idea. Will roll it in with on going work on Pagination sizes.

[2015-10-01 09:14] deavmi commented on #117
Okay. Thanks @Joe :+1:

[2015-10-01 21:06] #106 closed

[2015-10-01 21:17] docapotamus opened #119 "Improve feed loading"
After the work to add custom pagination sizes I need to speed up loading of the feed. This can be achieved by removing the call to `get_post`, loading all posts at once with `$in`. Use this information to identify unique users and load them also with `$in` from MongoDB and create the required structure within Python.

[2015-10-04 11:20] #117 closed

[2015-10-04 14:32] #119 closed

[2015-10-05 16:53] docapotamus opened #122 "Add tests for text parser"

[2015-10-07 09:19] docapotamus commented on #122
Adding to this fixing URLs with no scheme such as `pjuu.com` becomes `https://pjuu.com`

[2015-10-08 09:18] docapotamus commented on #85
I have a plan. We can keep it as it is but count a users post scores with MongoDB aggregation. If its < 0 then 0. This way I already have the solution coded up :)

[2015-10-08 10:51] docapotamus commented on #71
Food for thought: https://gist.github.com/docapotamus/fe0a62e96e55d8e30b2d

[2015-10-09 12:04] #122 closed

[2015-10-09 12:06] docapotamus opened #124 "Add migration for post data to 0.9"
Due to the new document structure holding the post data we need to process all posts and update the document layout.

[2015-10-10 14:19] Mukt commented on #69
Thanks @pizzamaker for this suggestion!
I found Pjuu via f-droid.

[2015-10-10 14:29] Mukt commented on #71
It would be easy to follow people if we could do topic search ... How about hashtags? #Syria anyone?

[2015-10-11 14:10] docapotamus commented on #71
@Mukt that is a good idea. We will be tweaking the search functionality in 0.10 to allow both hashtag and user searches. Hashtags are coming in this upcoming 0.9 and are available in `master`

[2015-10-17 13:13] docapotamus commented on #71
I am going to push this back to 0.10. This allows us to get this done properly and maybe implement a graph.

[2015-10-17 17:52] #105 closed

[2015-10-17 17:55] #115 closed

[2015-10-17 18:50] mcrmonkey commented on #116
Done. Just needs formatting and putting in to the site.

[2015-10-18 10:16] #124 closed

[2015-10-18 10:19] #116 closed

[2015-10-19 07:52] docapotamus opened #130 "No category on unflag flash message"
The call to flash only has one argument so it appears un-styled.

[2015-10-21 12:05] #130 closed

[2015-10-24 09:45] #104 closed

[2015-10-24 10:10] docapotamus commented on #59
This should be an ongoing effort to sort out the mess in the test suite. Closing this issue.

[2015-10-24 10:10] #59 closed

[2015-10-25 09:21] docapotamus opened #137 "Enhance search to include hashtags."
Show posts with hashtags that match the search condition.

We could also show posts with user mentions in them too.

Dealing with replies that have hashtags in them, these should be added to the parent post and including the hash tag but at a lower weight in some way.

[2015-10-25 09:47] docapotamus opened #138 "Avatars should call in a file rather than live at /<username>/avatar"
This way be can correctly do HTTP caching. If a user changes there profile we can't cash as the old one is shown.

This same method is done on image uploads.

Trying to remove the user lookup on posts was pointless because of this issue. This could be used to remove the denormalized username on posts which I added a long time ago.

[2015-11-06 11:07] docapotamus opened #145 "Avatar sizes not correct in settings"
If you upload an avatar which is incorrect size it is not being sized correctly.

As an example: https://pjuu.com/sarah/avatar

[2015-11-11 09:07] docapotamus opened #148 "Babel (translations)"
Work on integrating Babel.

Ensure that it is easy for others to help with translating all the strings.

For reference:
- https://pythonhosted.org/Flask-Babel/
- http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xiv-i18n-and-l10n

[2015-11-24 11:21] docapotamus commented on #45
I'm going to re-open this as I think it may need more discussion.

[2015-12-03 20:46] #145 closed

[2015-12-03 20:47] #138 closed

[2015-12-04 09:25] docapotamus opened #154 "Ctrl+Enter to post"
Suggested my `milan`.

Good idea and much needed. Can only be performed with JS.

[2015-12-15 09:16] docapotamus commented on #62
@mcrmonkey the issue stopping this from installing has now been resolved as was a difference between development and prod. We can probably go ahead and add the Jessie docker image in.

We should also update the README to reflect Jessie as that should be used really.

[2015-12-17 10:55] docapotamus commented on #56
I will add anchors to the lists also so that non-javascript users will be able to go back to where they were.

[2015-12-19 19:38] deavmi opened #166 "Not recognising "@Joe as mention or tstsgshhs@Joe"
More info here: https://pjuu.com/joe/a44a0854a5eb11e582c7f23c9150d009

[2015-12-21 10:39] docapotamus commented on #166
tstsgshhs@Joe wouldn't be allowed because there has to be a delimiter before the `@`

The fix just needs making to this line: https://github.com/pjuu/pjuu/blob/master/pjuu/lib/parser.py#L55 and a test added for it.

Will get round to this soon but if any one wants to do this it should be easy :)

[2015-12-21 10:57] deavmi commented on #166
Lekker. :smiley_cat:

[2015-12-23 09:25] #166 closed

[2015-12-23 09:43] deavmi commented on #166
awesome

[2015-12-29 18:02] Taknamay commented on #45
I actually like federation, but I can see the problem with making it compatible with privacy. The only solution I can think of (which isn't really possible in a web browser) is to keep data secret from the server, and to only encrypt and decrypt the information in a client. This is how XMPP can be both federated and private, for example.

[2015-12-31 18:48] docapotamus commented on #45
@Taknamay I agree. They are good. I'm going to try and re-visit this in the new year.

I think there needs to be a fine balance between owning your own data and privacy but I think it can be done :)

[2016-01-07 11:57] docapotamus commented on #137
This feature will show both users and posts which match the search term.

Replies will not be searchable: Posts can be thought of as topics in a conversation. The replies underneath generally relate to the post. If a user adds a hashtag that has nothing to do with the original post it shouldn't affect what the post shows up as. These comments would not appear on the `/hashtags/:tag` page. Comments

[2016-01-07 15:32] docapotamus opened #172 "Image upload being hidden"
It looks like a display:none is being added to element.

[2016-01-07 18:41] docapotamus commented on #172
This works in development but not in production. Still investigating.

[2016-01-07 18:45] docapotamus commented on #172
Not caused by code. Cause by Content Security header set in Nginx.

[2016-01-08 09:20] docapotamus commented on #172
https://www.owasp.org/index.php/List_of_useful_HTTP_headers
http://www.w3.org/TR/CSP/

[2016-01-08 09:20] #172 closed

[2016-01-10 15:17] pizzamaker commented on #45
+1 for federation. It's the future!

[2016-01-13 12:57] docapotamus commented on #45
It may be worth following another federated systems protocol and trying to fit Pjuu's data model to that.

I will do more investigation.

[2016-01-13 17:00] #137 closed

[2016-01-21 21:21] mcrmonkey opened #181 "Image upload orientation"
When users upload pictures from phones to the site they can often be oriented incorrectly.
This isn't the users fault and its usually down to how the device saved the picture.

Devices can correctly orient the picture based on EXIF information contained within the image when it was saved.

We should read this info from the image and rotate the picture accordingly to it looks right.

[2016-01-22 10:45] docapotamus commented on #181
This should be relatively easy.

Will need to add that we read the data in the exif tag to orientate the image the correct way and that we don't read any other data and remove it on save.

[2016-01-23 00:26] #181 closed

[2016-01-23 00:45] docapotamus opened #184 "CSRF token timeout"
Everything on Pjuu uses CSRF tokens. They need to last a lot longer as if you make a post after having it open for a while you see a bad request error.

[2016-01-25 18:58] docapotamus commented on #184
I have increased the time out on the server as temporary fix.

I may need to duck punch or write my own CSRF handler to be able to handle this.

[2016-01-27 20:27] #154 closed

[2016-01-29 16:14] docapotamus opened #187 "Remove all inline javascript out to files"
There isn't any `<script>` tags in Pjuu but we have made use of `onMouseOver` and `onMouseOut` attributes. These should be re-factored away.

[2016-02-03 22:42] mcrmonkey opened #189 "Front page lacks description"
As noted in a few places the front page of the site ( when not signed in ) lacks a description of what the site is for.

The description should be breif but good enough to get the point across to new users.

[2016-02-04 08:57] docapotamus opened #190 "Allow changing comment ordering"
At the moment we show comments in reverse chronological order.

We should allow users to change this per post or set a default setting for their profile.

[2016-02-04 09:07] docapotamus commented on #190
This can be changed here: https://github.com/pjuu/pjuu/blob/master/pjuu/posts/backend.py#L427

[2016-02-04 09:13] docapotamus opened #191 "Hide inactive users and indicate in the admin"
Inactive users can be followed and searched for this shouldn't be allowed as it creates churn if a user decides not to activate their account.

We should also indicate who is active in the OP user dashboard.

[2016-02-08 20:53] #190 closed

[2016-02-09 09:05] docapotamus commented on #184
http://flask-wtf.readthedocs.org/en/latest/csrf.html

We can use the `@csrf.error_handler` hopefully to override the default action.

[2016-02-09 12:59] docapotamus commented on #189
Going to roll in a second auth design update in to this. I think we can get it a little cleaner :)

[2016-02-17 09:19] docapotamus opened #200 "Combine all JS files in to `pjuu.js`"
There is no need at this point in time of adding in gulp, brunch or something else.

There is also no need to load all the little JS files.

Combine them in to one file for the time being. This can be done with #187.

[2016-02-17 19:38] #187 closed

[2016-02-17 19:38] #200 closed

[2016-03-12 19:59] #191 closed

[2016-03-13 11:31] #112 closed

[2016-03-13 19:19] #184 closed

[2016-03-17 09:14] docapotamus commented on #46
Going to start work on this over the weekend. The plan is now much simpler:

**Allow users to mark their profile as public.** This will allow non-Pjuu users to view their profile similar to a blog https://pjuu.com/joe for example would be viewable from anywhere and linkable to.

Permissions for replies will be based on the parent post. So if you comment on a post from a public user your comment wi

[2016-03-18 15:30] docapotamus opened #212 "Avatars not showing for posts on the search page."
This is because we are not fulling in the users avatar image from Mongo.

Should be fixed in https://github.com/pjuu/pjuu/blob/master/pjuu/users/backend.py#L197

Thanks @deavmi for the report. https://pjuu.com/deavmi/2bd92f10ed1411e58d0af23c9150d009

[2016-03-18 16:09] deavmi commented on #212
@docapotamus Pleasure :smile:

[2016-03-18 18:54] #212 closed

[2016-03-18 20:34] deavmi commented on #212
Awesome. :)

[2016-03-24 18:20] docapotamus opened #215 "Permissions and public profiles."
This replaces the _very old_ issue #46 which discussed permissions in Pjuu which was used to flesh out a few ideas along with some posts on https://pjuu.com.

Myself, @mcrmonkey, @mukt and @deavmi have discussed what should go in to Pjuu to allow public profiles whilst protecting privacy.

Below are the key points on how this will work:

- Allow users to assign groups to their followers. All new f

[2016-03-24 18:20] docapotamus commented on #46
Closing superseded by #215.

[2016-03-24 18:20] #46 closed

[2016-03-24 22:01] deavmi commented on #215
What is a "Romp"?

[2016-03-25 00:30] mcrmonkey commented on #215
Romp - a collective noun for a group of otters

[2016-04-14 10:12] docapotamus opened #222 "Explore Markdown parsing in posts and comment"
Investigate allowing users to use Markdown in their posts and comments.

May need to be a subset and more restriction on comments than posts.

[2016-04-14 14:36] dsohler commented on #222
Instead of allowing anything and then restrict it, I'd use awhitelist to allow only specific stuff. Since Github parses it too, I put it all into a code section. Wasn't it that newlines are possible now? imho that is mandatory.

[code]

For comments I wouldn't restrict anything except headings.

[2016-04-14 16:37] docapotamus commented on #222
@dsohler I agree here all these features would be nice. Can't see any issues except for the line limits.

You can post as many new lines as you want but only 5 are shown in your feed. May find a way to limit this with JS instead of at the template.

[2016-04-14 20:23] dsohler commented on #222
Maybe parse Markdown and minify the result to `<p>parsed Markdown here<p>` before counting the newlines? (And why is there a limitation of 5 lines?)

[2016-04-15 12:26] docapotamus commented on #222
Just to stop people making really long posts and flooding your feed.

There are multiple ways to get around this though it will just be a case of trying which one is cleaner.

[2016-04-18 08:47] docapotamus opened #225 "Do more to welcome new users"
Once users sign up to Pjuu it is a very stark place.

We should maybe have a welcome message that appears with a few suggestions on who to follow etc.

[2016-04-21 06:31] deavmi opened #227 "Spelling error"
There is a spelling error on one of the pages, I think it was the CSRF token thing. If you have cookies disabled then the page comes up and I think there is a spelling error in the error description.

[2016-04-22 14:36] docapotamus commented on #227
Set here:

https://github.com/pjuu/pjuu/blob/master/pjuu/lib/errors.py#L39-L54

Cheers @deavmi

Pjuu will unfortunately not work with cookies disabled as we have to way to keep track of your login session.

[2016-04-23 07:34] docapotamus commented on #227
Thanks for the fix

[2016-04-23 07:34] #227 closed

[2016-04-23 07:35] #215 closed

[2016-04-23 11:34] deavmi commented on #215
:heart: Awesome :)

[2016-04-23 11:34] deavmi commented on #227
Pleasure. :)

[2016-04-23 11:35] deavmi commented on #227
Of course. @Joe :)

[2016-05-07 09:09] docapotamus opened #236 "Explore public feed"
Show a feed of public posts.

Possibly using some gravity algorithm like HN or Reddit.

Only allow public posts to appear.

[2016-05-11 19:39] docapotamus commented on #85
Wow this has been a long time coming closed by #237

[2016-05-11 19:39] #85 closed

[2016-05-13 10:56] docapotamus opened #240 "Rename approved posts to trusted"
Approved has shown to be a complex word like a follower needs to be approved.

@mukt has suggested "Trusted" and I agree it is a much better name.

The Pjuu discussion can be found here: https://pjuu.com/joe/5471e088177711e6b925f23c9150d009

[2016-05-13 11:36] docapotamus opened #241 "Animate GIF's"
May be nice to allow animate GIFs to be uploaded Pjuu.

[2016-05-15 11:48] #240 closed

[2016-05-19 08:13] docapotamus commented on #225
Adding a tip system. This will initially just be used on the feed page to show a welcome message along with some users names (based on score).

It will be usable elsewhere in the site to add other tips.

Users will be able to close them and never see them again. They will have the ability to reset all the tips to as if they had never seen them from the settings menu.

[2016-05-19 18:29] #225 closed

[2016-05-20 18:14] docapotamus commented on #67
Been noted on the site by various users that the mark as read thing in a big annoyance. If you view your alerts page they are all marked as read.

[2016-05-23 19:31] docapotamus opened #247 "Add a dark theme to the site"
Not sure how I would implement this right at this time.

Site suggestion by Johnnynull and Stolensoul

[2016-05-24 09:40] docapotamus opened #249 "Direct links to comments"
Allow comment URLs to be shared and have a direct link to the comment.

Should calculate the page the comment is, it's position, scroll to it (if JS is enabled) and highlight the comment.

[2016-05-25 07:40] docapotamus opened #251 "Preserve case in usernames"
Suggested by "ABD" on the site.

Names are stored in lower case. This is a throw back to us only using Redis.

[2016-05-25 12:13] aetherfaerber commented on #45
As you are using Python, [pypump](http://pypump.readthedocs.io/en/latest/), which was created for [MediaGoblin](http://mediagoblin.org) seems like the logical place to start. It reimplements the protocol used by pump.io, the successor of status.net.
Still, pump's main object seems to be data ownership, privacy or access rights is not part of the plan, iirc.

[2016-05-26 10:30] docapotamus opened #253 "More detailed millify"
Do not shrink numbers to a single digit.

eg. 1000 to 1K but 1.0K
1500000 to 1.5M.

May be something to look at or use: https://pypi.python.org/pypi/humanize

[2016-05-26 11:44] #62 closed

[2016-05-26 13:25] docapotamus opened #254 "Tag cloud"
On the "Search" page look to add a tag cloud. This will help users find popular hashtags.

If adding this, cleaning up the search and adding suggested users to that page possible look at renaming it to "Discover" or something similar.

[2016-05-26 13:59] pizzamaker commented on #45
I also suggest taking a look at the Activity Streams format, which aims to be a federation standard within the W3C: http://activitystrea.ms/

Services like MediaGoblin and GNU social are expected to move towards it. Maybe Diaspora as well.

[2016-05-27 07:50] docapotamus opened #255 "Store images in multiple sizes. Preserve original"
At the moment all images are resized to 1280 x 720 maximum.

If they are smaller that is fine but any larger they will lose something.

I'm proposing storing the image in it's original size, and making a couple of smaller thumbnails to use around the site.

This would help with data usage on the main site and load times.

We can store the image URL's along with the post as we do now.

This work co

[2016-05-27 08:00] docapotamus commented on #45
This needs more thought since the introduction of post permissions. I doubt we are ever going to be able to trust federation for trusted posts.

If you do have a trusted follower on a remote node you can not guarantee the remote node will abide by the rules. They could post it to all followers on that node if they so wish.

This would be far to big a problem for privacy at the moment.

@aetherfaer

[2016-05-28 01:43] pizzamaker commented on #45
Yes, perhaps trusted posts can simply not follow standards, while the rest of the code base complies with it. Just an idea :)

[2016-05-28 11:16] docapotamus commented on #255
From an engineering point of view may be worth waiting for block storage at Digital Ocean.

We store images in Mongos GridFS but we eventually want to move to PostgreSQL so using a file system would make more sense.

@mcrmonkey

[2016-05-28 11:17] docapotamus commented on #45
@pizzamaker I think that would make the most sense.

[2016-05-29 07:36] docapotamus commented on #56
The list of things to make AJAX:

- Remove from feed
- Delete post/comment (on feeds only NOT on view post)
- Hide alert
- ~~Up/down vote~~
- Flag
- Unsubscribe
- Follow/un-follow
- Trust/un-trust
- Hide tip

[2016-05-29 18:16] dsohler commented on #56
Why not add “Post something” to the list, too?

[2016-05-30 10:56] docapotamus opened #257 "Migrate to Flask 0.11"
This isn't simple. Something has changed to do with the error handling.

https://github.com/pjuu/pjuu/blob/master/pjuu/lib/errors.py

Seems to be throwing an issue in tests:

[code]

This points https://github.com/pallets/flask/blob/master/flask/app.py#L1465

Will need to investigate more and probably change error handling code.

We can use `Click` now though. May make some admin tasks much easier

[2016-05-30 12:46] docapotamus commented on #56
I haven't given it much thought. There would be a lot more work to do with handling images. All posts are appended to the feed so you need to be at the top any way. I'll give it some thought 😄

[2016-05-30 15:04] docapotamus commented on #56
There is an issue with the current JS on votes. Once an action has been pressed the up/down vote buttons should be disabled in jQuery so they can not be repeated for that post. You will still be able to do the same action on a different post though.

May be confusing with the flash messages so I may remove them. Do the action on the page immediatley and reverse it if something goes wrong.

[2016-05-31 08:01] docapotamus commented on #257
http://flask.pocoo.org/docs/0.11/changelog/#version-0-11

[2016-06-02 17:52] docapotamus commented on #257
This was a problem with the way I had attached the error handlers. PR #259 closes.

[2016-06-02 17:55] #257 closed

[2016-06-08 04:34] docapotamus opened #260 "Red on Green for new alerts, colour blind."
A user has reported that the red on green when you have a new alert is very hard to see for colour blind users.

I completely forgot about this.

[2016-06-08 16:23] mcrmonkey commented on #260
Guidance:
http://www.vischeck.com/examples/
http://colorvisiontesting.com/what%20colorblind%20people%20see.htm
http://colororacle.org/

[2016-06-08 16:29] mcrmonkey commented on #260
some of the changes we could make for #247 could benefit these users

[2016-06-09 04:00] buskirka commented on #260
Hey, that's me!
If you need any testing help, I can (naturally) help with red/green colorblindness...but when it comes to other forms of colorblindness I'm just as lost as anyone else.

[2016-06-13 13:29] sydneyjd commented on #107
To me allowing the users to message between themselves privately is a very important part of social media. I know that i won't be able to get quite a few people to join Pjuu just because they cannot message another person privately.
Just some thoughts.

-Sydney

[2016-06-13 13:53] deavmi commented on #107
Sounds good.

On 13 June 2016 3:29:51 PM SAST, sydneyjd <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-13 15:11] docapotamus commented on #260
@buskirka what would be the best colour for you over the green at the top to highlight new alerts?

[2016-06-13 15:42] mcrmonkey commented on #260
As an option we could also adjust the icons so that we have outlines for non active things and filled in things for when they require attention.
The colour of these then shouldn't matter as much but we would maybe need to ensure that the colour of the icon is inverted in a way i.e. light background and darker coloured icon, where a dark BG gets a lighter coloured icon

The BBC do this same thing w

[2016-06-13 18:03] buskirka commented on #260
@docapotamus For me, it would probably have to be blue or white for a simple color change to work well. Using blue would help red-green colorblindness, but I think it might cause problems for those with other types of colorblindness. White utilizes simple contrast, and I think that would be visible regardless of colorblindness. (It would be for me, at least.)

@mcrmonkey I think that would also wo

[2016-06-14 09:04] docapotamus commented on #107
I agree this is more important than I first thought.

We could allow users to set privacy constraints on who can send them DMs. Such as only users they 'Trust', users they are following, etc...

[2016-06-14 09:22] deavmi commented on #107
Yes. That could make sense. obviously a way more smaller thread than the post layout.

[2016-06-14 09:22] deavmi commented on #107
I also agree in that there needs to be Trust agree'd on both sides. So that person A must trust B and B must trust A in order for them to message each other.

[2016-06-14 09:53] johnnynull commented on #260
I haven't looked yet, but is it possible to modify the bell in another way? For instance, the "quiet " bell is low-contrast, but to alert for messages, it is both higher contrast and there's some lines coming from it, or ((( ))) s, indicating sound/action.

[2016-06-14 12:03] docapotamus commented on #260
@johnnynull. I've looked at this there is nothing in Fontawesome which looks like this. I can add a style though which rotates it very slightly.

I could also have it so it just the outline when there is not alerts and it is solid when there is alerts.

[2016-06-14 19:22] docapotamus commented on #260
Is this too subtle?
No alert
![No alerts](https://pjuu.com/uploads/01f36b66326511e6910f0401fe607e01.png)
New alert
![New alerts](https://pjuu.com/uploads/0d84d7a8326511e6b5570401fe607e01.png)

[2016-06-14 19:56] buskirka commented on #260
Well, it would be an improvement for me (as in, it's still visible in alert form), but I think that might be a bit too subtle overall.

[2016-06-14 23:32] johnnynull commented on #260
There's check marks and stuff in fontawesome. You could consider ditching the bell.
Alternatively, I looked up how to submit a request for a new font in fontawesome. I could move forward with that.
Or could it be a small png or gif? I can make those.
Or could I make fonts in fontforge (Never did it, but I can try) and you could use that?

[2016-06-15 07:47] docapotamus commented on #260
It seems way to complex to add a new icon in to Font Awesome plus I have seen the vast majority get ignored by the team there.

The problem with the PNG is the extra load. We change it by adding/removing classes so it needs to be done in CSS.

Is there any other way of highlighting it?

@buskirka if we kept it as red as well as being tilted and solid colour are you still able to see it? I mean doe

[2016-06-15 10:04] johnnynull commented on #260
You make good points.

[2016-06-15 18:07] docapotamus commented on #260
I've made this red again and added a white text glow to better help highlight it.

@mcrmonkey I accidentally pushed to master like an idiot. Luckily this feature isn't tested and code coverage hasn't dropped further since the issue with `coverage`.

Closing this issue.

@buskirka please let me know if this has helped.

Thanks for the issue.

[2016-06-15 18:07] #260 closed

[2016-06-15 18:17] buskirka commented on #260
@docapotamus The red is quite impossible to recognize directly against the green. I noticed the change, however, and the bright outline helps a lot. Thanks!

[2016-06-15 20:57] docapotamus commented on #260
@buskirka would a darker red help?

[2016-06-16 20:53] docapotamus commented on #253
With the PR will not do 1k 1.1k 1.2M, etc.. no 0's if rounds to 0 at decimal place.

[2016-06-16 20:56] #253 closed

[2016-06-19 08:04] docapotamus commented on #58
Closing this issue!

This is in progress and a lot of end points already have smaller URLs.

Rather than go back and change them all at one I will do this as and when needed. There are some other features in the pipeline that will change this.

I doubt this is affecting any users and has been here for a long, long time.

[2016-06-19 08:04] #58 closed

[2016-06-19 08:04] #189 closed

[2016-06-20 16:40] deavmi commented on #254
Sounds good.

[2016-06-20 16:41] deavmi commented on #254
Also vary the sizes of each label (tag text) to make it look nice.

[2016-06-20 16:41] deavmi commented on #254
And therefore shape into a cloud or whatever. :)

[2016-06-20 16:41] deavmi commented on #241
This would be awesome.

[2016-06-20 17:32] docapotamus opened #269 "Confirm un-follow and un-trust"
Add confirmation to un-follow and un-trust actions.

Recommended by pietlu

[2016-06-20 17:38] #269 closed

[2016-06-20 18:11] docapotamus commented on #241
Good you commented on this I'm just starting work on it 😄.

I have this working but there is a problem in subsequent frames from the first. They are all distorted. It looks like this is fixable though but it may be a little rough.

I will report back in a bit.

[2016-06-20 18:19] deavmi commented on #241
Awesome :smile:.

[2016-06-21 07:34] docapotamus commented on #241
There is a strange issue with Pillow saving animated GIFs.

It does work but it appears to drop the pallet on all but the first frame.

http://stackoverflow.com/questions/24688802/saving-an-animated-gif-in-pillow
https://github.com/python-pillow/Pillow/issues/1355
https://github.com/python-pillow/Pillow/pull/1379
https://github.com/python-pillow/Pillow/pull/1384

[2016-06-21 18:19] docapotamus commented on #241
Had to open an issue for this one as I am a bit lost. Just need some direction.
https://github.com/python-pillow/Pillow/issues/1976

[2016-06-22 11:19] deavmi commented on #241
Okay.
 Sounds good then.

Any other imaging library you could use? Just asking.

On 21 June 2016 8:19:50 PM SAST, Joe Doherty <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-22 14:20] docapotamus commented on #241
We could use ImageMagick and some Python bindings.

http://docs.wand-py.org/en/0.4.3/index.html

[2016-06-22 20:09] docapotamus commented on #251
You can't do a case insensitive search in MongoDB and still use an index. Same goes for PostgreSQL if we decide to go that way.

I am proposing a **display name** similar to Twitter. It will be set to the same case used when signing up but username will remain lowercase.

We could also allow users to change there display name.

@mcrmonkey comments?

[2016-06-23 12:54] mcrmonkey opened #272 "Tip box doesn't look right"
### Version
312f19a

### Operating system
Debian

### Expected behaviour
Under testing the Tips box doesn't look as good as it should

### Actual behaviour
The tips box should look better

### Steps to reproduce
1. Install Pjuu as per instructions in readme.md

2. Signup and activate the account

3. Login

4. Observe the tips box

### References
There are no other references at this time.

[2016-06-23 15:01] docapotamus commented on #272
Nice one :smile:

[2016-06-23 15:01] #272 closed

[2016-06-24 14:57] deavmi commented on #241
Cooleo.

[2016-06-27 18:07] docapotamus opened #274 "User latest activity view"
Look at sorting by activity on a users profile.

This was discussed with mukt. It would allow other users to see some active posts on a users profile so long as permissions let them.

This will not be done on the feed. It would be very hard to implement with Redis and would also remove the chronological nature of the feed.

[2016-06-27 18:22] docapotamus opened #275 "Migration to PostgreSQL"
Migrate database infrastructure from MongoDB to PostgreSQL.

There is nothing wrong with MongoDB. There are a few features which would be really handy that we get from PostgreSQL such as [recursive CTEs](https://www.postgresql.org/docs/9.5/static/queries-with.html) and JOINs.

I don't want to start a religious arguments about database technologies. This will allow us to perform some more things wi

[2016-06-29 20:00] docapotamus commented on #249
Will be fixed after #275.

[2016-06-29 20:01] docapotamus commented on #274
Will be fixed after #275.

[2016-06-29 20:01] docapotamus commented on #251
Will be fixed after #275.

[2016-06-30 16:54] #241 closed

[2016-06-30 17:04] deavmi commented on #241
Awesome. Did ImageMajick do the trick?

[2016-07-03 20:25] docapotamus opened #276 "Wrong image in comment links."
When clicking  a comment image the parent posts image is shown.

[2016-07-03 20:46] #276 closed

[2016-07-06 19:28] docapotamus commented on #251
Actually we can do case insensitive lookups with `citext` or using `lower()` ourselves.

We can maintain uniqueness as described in this PGcase https://www.pgcasts.com/episodes/9/more-case-insensitive-data/

[2016-07-12 09:54] docapotamus commented on #45
After much thought and discussion on this issue I do not think federation is something we are going to offer with Pjuu.

There are plenty of federated social networks out there for people to use if they so wish.

My main concern if privacy. Shipping users data around a network doesn't make any sense. It also takes control away from the original poster as to who sees their posts, their ability to r

[2016-07-12 09:54] #45 closed

[2016-07-12 15:04] docapotamus commented on #51
flask-oauthlib.readthedocs.io/en/latest/oauth2.html

Can be used for creating an OAuth 2 provider

[2016-07-12 15:06] docapotamus commented on #241
@deavmi it did yes. It's really easy to work with via python-wand.

[2016-07-12 15:30] deavmi commented on #241
Nice. :+1: Good work btw.

[2016-08-05 13:16] docapotamus opened #282 "Wrong otter showing in Welcome tip."
The old Otter is still showing in the welcome tip.

Needs changing to Otter v2.

[2016-08-11 19:03] docapotamus commented on #282
Fixed with PR #285

[2016-08-11 19:03] #282 closed

[2016-08-12 06:11] docapotamus opened #286 "Incorrect hashtags parsing due to input enscaping"
A while ago we noticed that due to the new way we perform hashtag/mention/link parsing it was possible to inject code in to the posts. This was squashed before it was ever taken advantage of on https://pjuu.com itself.

It is causing issues with hashtags such as #docapotamus's. Where the ' isn't being classed as a delimiter as it is escaped before it gets to parser (&#39;).

This causes issues as

[2016-08-14 09:25] deavmi opened #287 "Revover password confirms sent e-mail with no e-mail filled in"
On the version of Pjuu that is running at pjuu.com there is a problemo.

Go to recover password.

Don't enter an e-mail address.

Hit recover.

Then there is a message saying that an e-mail has been sent to recover your password (however no e-mail was ever entered).

[2016-08-14 09:25] deavmi commented on #287
I have screenshots if you want.

[2016-08-14 17:18] mcrmonkey commented on #287
Page is accepting a blank input field.

Adding a "required" to the input field would solve this in the users browser

[2016-08-14 17:19] deavmi commented on #287
Awesome. :)

On 2016-08-14 07:18 PM, Ant Kenworthy wrote:

[2016-08-15 09:27] docapotamus commented on #287
Just to confirm that an e-mail isn't sent if you do not exist. The flash message says:

"If we've found your account we've e-mailed you"

I will make it so data is required rather than empty.

[2016-08-15 16:23] deavmi commented on #287
Awesome.

I see how that is a privacy feature. Nice work man. :)

On 2016-08-15 11:27 AM, Joe Doherty wrote:

[2016-08-15 17:52] #287 closed

[2016-08-15 17:55] docapotamus commented on #287
Sorted @deavmi.

You can still put in an invalid username or email but its better if you don't put anything in.

Thanks for the bug report. Much appreciated.

[2016-08-15 18:15] deavmi commented on #287
Pleasure :+1: Thumbs up for the fix. :)

[2016-09-02 13:34] docapotamus commented on #67
Also need to delete alerts which are for comments that no longer exist.

May move this into Postgres once the migration has been completed.

[2016-09-04 13:58] Mukt commented on #251
@docapotamus
Is this correct summary of Display Name (DN) proposal:

?

If yes, it sounds awesome.

[2016-09-04 14:48] Mukt commented on #254
Tag cloud is potentially an extremely powerful feature. I haven't seen any site utilize them to their full potential yet. Maybe because it puts too much power in the hands of a user. Aditionally, tag cloud covers most of the needs that features like 'trends' and 'public TL' cover. If you plan on implementing, I have few suggestions:

1. (Repeating @deavmi , and adding) Vary the size of tag text, i

[2016-09-04 17:17] deavmi commented on #254
Sounds cool. Maybe a way to discover less popular tags?

On 2016-09-04 04:48 PM, Mukt wrote:

[2016-09-07 08:54] Mukt commented on #254
Once one crosses the more popular tags, the ones that follow automatically show up! Also, the search button is already handling hashtags, if one is looking something specific.

The thing is, relationships at Pjuu are formed organically. I feel it is a defining feature and strength of Pjuu that should not be sacrificed wantonly.

[2016-09-19 09:42] docapotamus commented on #254
@Mukt This will just be to find other posts not necessarily users. The hashtag search does work but it doesn't give you an idea of what is going on at the moment and you also have to be quite specific (given the number of posts/users at the moment that is hard to do).

You're correct that relationships grow organically so long as you put in the effort to find users.

If you are just coming to the

[2016-09-19 09:43] docapotamus commented on #251
I think display names are the way to go yes! :)

Your user name will just be used for the URLs and mentioning people.

[2016-09-19 10:59] docapotamus commented on #275
As part of this work I propose to clean up the development work flow and use the Click package (now part of Flask).

This will allow us to have a `manage.py` file similar to Django which we can integrate everything in to. This will remove the need for the `Makefile`.

Flask-Migrate can plug in to it so we can handle database migrations. We can add custom commands for running the test suite and fla

[2016-09-20 07:57] docapotamus opened #294 "Allow no message in post if an image is uploaded"
Users are always required to enter some text when posting a message, even if an image is uploaded.

This should be removed for posting quick images to Pjuu.

[2016-09-21 16:28] deavmi commented on #254
Yeah.

I must say the quiteness is nice, unlike GNU Social and then I can follow a few people and see who I want to follow.

[2016-10-12 20:00] docapotamus commented on #275
@mcrmonkey Work still under way with the PR. Going to be removing the `backend.py` abstraction. I don't think this has really helped with fine tuning queries with MongoDB. Also when I get round to adding an API the queries will be similar but not the exact same so it isn't that useful

[2016-10-12 20:12] mcrmonkey commented on #275
:+1:

[2016-10-13 18:08] docapotamus commented on #275
Just going to put this on hold for now. I want to add a couple of features before going further just so I know the whole scope of the work.

[2016-10-17 17:54] #236 closed

[2016-11-28 21:30] #294 closed

[2017-01-09 09:59] docapotamus opened #309 "Upgrading Flask-WTF brakes posting"
This is a strange issue that effected the site on 08/01/2017.

Upgrading the Flask-WTF library, all unit tests passed and code coverage was at 100%.

The site would not allow you to post without an image as the `FileField`'s validator was throwing.

https://github.com/pjuu/pjuu/blob/master/pjuu/posts/forms.py#L25-L26

I attempted to fix the deprecations and move to `wtforms.FileField` which didn't

[2017-01-09 10:06] docapotamus commented on #247
I think for this we may be better to use Twitter's bootstrap.

The grid system will be very nice to have and will make the CSS more generic.

May also be useful to have Saas (https://sass-lang.com/) or Less (http://lesscss.org/#).

We can then set variables for the colour schemes (may be overkill just thinking out load)

[2017-01-11 08:21] docapotamus commented on #309
Fixed in 2777ee4599667ffda14cdcbd21645abb41381064

[2017-01-11 08:21] #309 closed

[2017-01-11 09:28] docapotamus opened #312 "Make trusted more prominent"
Trusted users is a very under used feature on the site. Without going to your followers list and searching through it, it can be hard to see who is trusted.

### A breif history of trusted

Trusting someone is done by you (a user) on someone following them. If the user un-follows you they lose their trusted status or you can un-trust them yourself.

Trusted users can see all posts that you make wi

[2017-01-11 12:53] docapotamus opened #313 "Support Python 3"
I doubt we will be moving to Python 3 ourselves any time soon but it will be worth the effort now to support Python 3.

As a Debian user 3.4 is available in Jessie so I will most likely target that at a minimum.

[2017-01-11 20:21] docapotamus commented on #313
This is going to be a tough one.

I have changed things which need changing such as `xrange` to `builtin.range`

`print` statements to functions.

There are a load of issues with strings though.

[2017-01-23 13:12] docapotamus opened #317 "Round off avatars"

[2017-01-25 17:18] docapotamus commented on #247
I'm going to work on this soon @mcrmonkey.

I can just write a `dark-theme.css` and include it if the user has it in there session or profile.

[2017-01-26 18:35] #312 closed

[2017-01-26 19:19] #317 closed

[2017-03-06 15:36] docapotamus opened #321 "Enhance moderator dashboard"
Now that pjuu.com has community moderators we will need to add some tooling to the dashboard.

- Ability to hide posts (moderator hidden)
- Ability to mute users
- Add some graphing so it's easier to see what's going on.

These tools will be needed if there is abuse of the system.

[2018-01-02 19:12] deavmi commented on #313
Python 2. Kill it with fire.

[2018-01-02 19:13] deavmi commented on #313
You could branch the current working branch and slowly start translation. Idk

[2018-01-02 19:13] deavmi commented on #313
Might want to stop new feature development and start the translation/migration to Py3 and focus on that.

[2018-01-02 19:14] deavmi opened #337 "Support display names"
Let usernames and display names co-exist (like on Mastodon).

[2018-01-02 19:39] docapotamus commented on #313
Features have stopped at the moment any how as I really need to get my arse in to gear and do the Postgres migration.

May be worth doing this first. It shouldn't be too much of hassle, just a lot of small changes.

http://python-future.org/compatible_idioms.html the following guide pretty much covers it.

[2018-01-02 21:07] deavmi commented on #313
Maybe get that last infrustructural change done and then start migration shortly afterwards

[2018-01-03 07:36] docapotamus commented on #337
@mcrmonkey the current way we handle usernames has some issues with this one.

We store the username denormalized with the post to make it faster. We would have to reverse this choice and make two calls to MongoDB based on the posts `user_id`.

I can't see an issue with this at the moment. I'll have a closer look.

[2018-01-04 21:35] mcrmonkey commented on #337
:+1: shouldnt cause too much of a performance hit, right?

[2018-05-05 11:00] docapotamus opened #338 "Support different image storage backends"
With the arrival of DigitalOcean spaces we can use this to store the uploaded files from Pjuu and store them there.

The plan is to still use our Nginx server to proxy to them so they come `https://pjuu.com/uploads`.

We shouldn't remove the GridFS backend just yet as it is useful for testing or if any one wishes to run a Pjuu server themselves.

I propose abstracting the file upload in to a `get`

[2018-05-05 11:01] docapotamus commented on #338
Spaces uses as S3 compatible API so the new pluggable backend will be useful going forward.

[2018-05-05 18:47] mcrmonkey commented on #275
#338 blocks this

[2019-01-27 11:26] docapotamus opened #346 "Python 2 EOL and the future"
Python 2 comes to its end of life in [January 2020](https://pythonclock.org/)

~~I honestly do not have any interest or use for Python these days and I don't see the point in migrating it to Python 3. To that end I would like this ticket to be the official re-write topic.~~

~~Development on the project has stalled recently and this is in part to the cruft that lay around the codebase. Over the la

[2019-01-27 16:07] mcrmonkey commented on #346
:+1:
stuck a project here: https://github.com/pjuu/pjuu/projects/2

[2019-01-27 16:08] mcrmonkey commented on #313
Closing this becuase of #346

[2019-01-27 16:08] #313 closed

[2019-01-27 18:15] docapotamus commented on #346
Thanks mate!

I was going to work out how to set up a project.

[2019-01-27 18:59] docapotamus opened #347 "Configure from the environment"
The new version of Pjuu should take it's configuration from environment variables.

This will mean we don't need to ship a config file around the infrastructure.

[2019-02-26 20:22] docapotamus commented on #346
I am going to split this in to 2 seperate parts.

1. I will re-do/modernize the design in the current code base
2. I will start to port over the code to Go

[2019-03-14 19:35] docapotamus commented on #337
I will address this in the SQLAlchemy version

[2019-03-14 19:36] docapotamus commented on #249
I will fix this in the SQLAlchemy version

[2019-03-15 18:35] #347 closed

[2019-03-16 08:00] docapotamus commented on #346
We have completed the migration to Python 3. I will open other issue for the rest.

[2019-03-16 08:00] #346 closed

[2019-03-16 08:12] docapotamus opened #350 "Site redesign"
Pjuu looks very dated.

We should redesign the site to make it more modern and less cluttered.

[2019-03-23 20:00] mcrmonkey opened #351 "Next/Prev page links always take you to page 1"
Going to `pjuu.com/joe?page=4` then hovering over the previous page link shows `pjuu.com/joe?page=1` but should show `pjuu.com/joe?page=3`

`pjuu.com/joe?page=1` is also shown for the next page link

[2019-04-07 15:33] docapotamus commented on #351
Thanks @mcrmonkey. Pietlu has just raised this on the site also.

[2019-04-07 16:40] #351 closed

[2019-04-12 20:46] mcrmonkey opened #354 "Github flagged Jinja2 security issue"
Github have flagged a security issue with our current version of jinja2
the report recommends to bump to version 2.10.1 of jinja2

[2019-04-13 16:31] mcrmonkey commented on #354
i think #353 should solve this one

[2019-04-19 22:56] mcrmonkey commented on #354
Looks to have been solved.

GH flagged Jinja 2.10 with CVE-2019-10906 the update to 2.10.1 seems to have cleared that alert.

[2019-04-19 22:56] #354 closed

[2019-05-26 23:36] deavmi commented on #337
Awesome

[2019-08-10 07:31] docapotamus opened #357 "Thumbnail size issue"
A user on the site uploaded an animated gif.

The thumbnail (png) for which has generated as a 1px by 1px but the actual animated gif appears correct.

Investigate why the thumbnail was generated at this size. The post is questions is: https://pjuu.com/pietlu/e318e156baa811e98e030242ac140006

[2020-01-15 13:27] docapotamus commented on #286
After some thought the best way to handle this is to stop storing the positions on the parse and simply store what was parsed.

For example if the hashtag ‘Pjuu’ is used we should note that and reject replace ‘#Pjuu’ with the hyperlink rather than replacing the index+len as we do now.

[2020-01-15 20:25] docapotamus opened #362 "Move Docker builds"
The free Docker hub project is not very good for building images for a couple of reasons:

1. It takes for every, up to an hour to have the 3 images build.

Only pjuu/base actually has anything which would take time within it. pjuu/web and pjuu/worker simply import the base and change the entry point.

2. It builds out of order.

I have all 3 images configured but it starts building them all at th

[2020-01-16 00:32] mcrmonkey commented on #362
:+1:
sounds good to me

The only downer by not having hub do the build is that the image repo on hub then lacks extra info like the readme from the main github repo and information about the builds.

[2020-01-16 07:18] docapotamus commented on #362
@mcrmonkey I guess we can still integrate with hub, just disable any builds on there.

[2020-01-18 14:41] mcrmonkey commented on #362
the only downer with doing that is that hub still requires full access to someones account
Until its sorted properly I'm hesitant to use it again

[2020-02-05 06:51] docapotamus commented on #362
@mcrmonkey going to leave this open for a short time until we know that these actions are working well

[2020-02-05 06:52] docapotamus commented on #357
I have not found a way to reproduce this even using the original file from the affected user.

Will close for now

[2020-02-05 06:52] #357 closed

[2020-03-17 20:36] docapotamus commented on #362
This is now working nicely

[2020-03-17 20:36] #362 closed

[2020-10-17 11:46] docapotamus commented on #338
I am working on this now.

Some things have changes:
- Use CDN from Digitalocean for images rather than coming to Amsterdam to get the files from our Nginx.
- For the time being just switch to S3 compatible storage for uploads.
  I will not close this ticket until we support filesystem and S3.
- Will need a new script to transfer files from MongoDB gridfs to S3 compatible storage.
- We will remove

[2020-10-18 01:14] docapotamus opened #370 "Review error handling in storage sub system"

[2020-10-18 01:15] docapotamus commented on #338
Closed by #368

[2020-10-18 01:15] #338 closed

[2020-10-18 01:18] docapotamus commented on #275
We are not using Python 3.8 so there are few more options here like https://github.com/nackjicholson/aiosql

This would mean we can have nicer Python code without SQL littering it and we don't have to use an ORM

[2020-10-18 09:30] docapotamus opened #371 "Storage migration"
We need a script to be able to move from one storage adapter to another.

[2020-10-18 23:23] docapotamus commented on #371
This doesn't require a script. It's an operations task I guess. We used `mongofiles` and `s3cmd` to handle the migration.

[2020-10-18 23:23] #371 closed

[2020-10-21 11:15] docapotamus opened #372 "Opening an image from a post causes a new window"
If you open an image from a [post](https://pjuu.com/joe/3d5a972010db11ebb38b0242ac140004), where it would normally show in the same tab it is now opening a new tab.

I think this has to do with moving to another domain, pjuu.com ->  cdn.pjuu.com.

We should look in to this, and possibly look at using an image view of some description instead of loading the image directly.
This has caused issues in

[2020-10-21 22:17] mcrmonkey commented on #372
Not seeing new tab on fresh install of firefox 81
any add-ons ?

[2020-10-25 23:52] docapotamus commented on #372
You're right. Looks to be caused by an Add-on.

[2020-10-26 00:13] docapotamus opened #373 "pipenv"

[2020-10-26 00:36] docapotamus opened #374 "Refactor & Asyncio"
We should move to asyncio based web framework.

Some of the benefits:
- More connections per instance of Pjuu, meaning cheaper to run in the long run.
  It is also noticeable sometimes when a few users are using the site.
- Nicer support for web sockets, should help with #107

I have looked around at the frameworks available and have been drawn most to [Quart](https://gitlab.com/pgjones/quart) whi

[2020-10-26 21:35] mcrmonkey opened #379 "Test-issue"
This is a test issue

[2020-10-26 21:41] mcrmonkey commented on #379
#### Test Comment
----

something

* one
* two
* three

[2020-10-26 21:41] #379 closed

[2020-10-27 20:24] docapotamus commented on #373
Closed by #380

[2020-10-27 20:24] #373 closed

[2020-11-02 18:18] docapotamus opened #384 "Alternative languages"
With the Refactor/AsyncIO project we are in a fortunate position.

Pjuu isn't that large a piece of software. We could easily re-write it at the same to help save further on costs.

[2020-11-02 18:37] docapotamus commented on #384
Asyncio is a bit all over the spot in Python. When Pjuu was written Flask and Django were the two main frameworks.

If we we're to re-write there:

- Go with 2 alternatives, use `net/http` or `fasthttp` base tools. Everything is based around there.
- Rust with 3 alternatives, Actix Web, Rocket or Warp.

[2020-11-02 19:08] docapotamus commented on #384
Other advantages include:

- Data. Pjuu calls the database a lot, even from templates. This could be reduced to just views (routes/controllers)
- Cost to run, more used per CPU resource

[2020-11-05 12:25] sigg3 commented on #384
Have you considered Starlette?

=> https://www.starlette.io/

Not sure if it's the right use case for it :)

[2020-11-23 12:40] docapotamus commented on #384
@sigg3, I have looked at at starlette but have no experience with it.

[2020-12-16 18:41] docapotamus opened #385 "Moderator flags can hide posts"
We are seeing an increased amount of spam on https://pjuu.com.

I have spoken about this with the moderators and a good solution may be to have moderator flags increment a second counter.
Once this counter is > 2 we will hide the post.

Administrator access will still be required to delete the post.

[2020-12-16 19:37] mcrmonkey commented on #385
:+1:
Makes sense.  .. what about stages for the hiding ?
i.e. 2 for hide from global feed and 3 for site wide ?

[2021-01-24 19:59] docapotamus commented on #385
@mcrmonkey sounds like a good plan. Most people won't be following these new accounts anyhow so the posts won't be in the feed.

[2021-01-24 20:02] docapotamus opened #386 "Private followers and following lists"
Pjuu aims to be as private as possible.

We should allow users to hide there followers and following list if they wish.

[2021-01-24 21:01] mcrmonkey commented on #385
no, but you could go find it either by the global feed or if someone mentions the user in a post

[2021-01-30 21:14] docapotamus commented on #385
@mcrmonkey more people use the global feed, hiding it there is paramount

[2021-01-30 22:16] mcrmonkey commented on #385
indeed - however you could still find that post if you found the user's feed

[2021-01-31 09:20] docapotamus commented on #385
It shouldn't be too bad to do.

If when flagging a post, we check if the user is a moderator and increment a second flag 'mod_flags'. When we select the posts from MongoDB we guard all the queries that this flag has to be < 2.

This should work everywhere. The feed is just a list of IDs in Mongo which are then selected.

[2021-02-14 17:19] docapotamus commented on #384
https://github.com/gofiber/fiber/ is very promising. It supports everything we need in a framework.

[2021-02-15 09:33] docapotamus opened #390 "Dashboard more control"
The dashboard was an after thought. This should be made more like an actual managment interface.

This ticket is to track required features

[2021-02-19 10:36] sigg3 commented on #384
Looks great! I'm strictly a python coder these days, but you Go ahead :D

[2021-02-20 15:14] docapotamus commented on #384
@sigg3 I think this is still open, so we're not Going anywhere just yet :P

[2021-03-06 17:53] docapotamus commented on #372
Looks like something is altering the default `target="_self"`.

Setting this explicitly should solve the problem.

[2021-03-06 21:15] docapotamus commented on #384
@sigg3 looks like Starlette meets all of our requirements. A lot of the code can be moved over.

Closing this. Python still seems like a great option.

[2021-03-06 21:15] #384 closed

[2021-03-07 23:08] docapotamus opened #395 "Single Dockerfile"
Currently we use 3 docker files; _base_, _web_ and _worker_.

The only thing that happens in _web_ and _worker_ is that the ENTRYPOINT and the COMMAND are altered between Gunicon and Celery.

We can achieve this all from a single image which defaults to run Gunicorn. When the worker starts this can have those settings changed within the orchestrator.

In docker-compose this would look something li

[2021-03-07 23:32] mcrmonkey commented on #395
![Make it so](https://i.pinimg.com/originals/dc/df/5b/dcdf5b42acb95fa3551faa23a2f1e9e4.jpg)

[2021-03-07 23:41] docapotamus opened #396 "Arm Support"
We should have Docker builds for all supported Arm architectures.

We should build for the following platforms: amd64 and arm64.

- Github actions should build both images
- Docker build and push should only happen on the master branch
- Docker build and push should only happen when using Python 3.8

[2021-03-09 22:26] #396 closed

[2021-04-07 18:33] #395 closed

[2021-07-07 19:24] b4zz4 opened #403 "work with the fediverse"
https://en.wikipedia.org/wiki/Fediverse

[2021-07-13 10:18] sigg3 opened #404 "requirements.txt and python version for developing"
No `requirements.txt` file or necessary python version info makes it a bit of a pain to setup a virtual environment.

I'm currently getting this when running `from pjuu.users import views`:

`ImportError: cannot import name 'Redis' from 'flask_redis' (/home/sigg3/python/pjuu/venv/lib/python3.9/site-packages/flask_redis/__init__.py)`

Seems to be a naming issue (should be FlaskRedis).

[2021-09-01 09:30] docapotamus commented on #404
Hey @sigg3 we recently moved to Pipenv for dependency management.

You should be able to `pipenv install` and then `pipenv shell` and you will be in an automatically created virtual environment.

[2021-09-01 10:50] sigg3 commented on #404
Cheers @docapotamus !

[2021-09-01 10:51] #404 closed

[2021-09-20 17:16] docapotamus commented on #403
I did implement web finger as a demo and it seemed to work fine and I could find myself on Mastodon.

[2021-09-20 18:35] b4zz4 commented on #403
How would this be? You have an example?

[2021-10-04 20:21] docapotamus commented on #403
I don't unfortunately. It was just a proof of concept.

We are planning on re-writing Pjuu, but we have been for a while so will have to see how far along we get.

There are probably some better abstractions we can put in to make Fediverse support a bit nicer.

[2022-06-13 17:05] duritia commented on #337
Will this take much longer to be implemented? The fact that my username in Pjuu is an ASCII version of my last name, which changes it, but what is shown in feeds are capitalized versions of usernames, makes it look like a wrong last name for me. It is a correct/possible name in Portuguese. But it is **not** my name. And I consider this very bad. I wish I could use all Latin language letters in my

[2022-08-06 22:18] duritia opened #409 "Site is using an invalid security certificate"
A few days ago, when I tried to refresh my open session in pjuu.com, the browser showed me this error:

![image](https://user-images.githubusercontent.com/69221194/183267659-fb1c63c2-1c6d-4412-8c39-b1d3c2668a45.png)

So, it seem there has been a few days since this started happening to all users. It should be easy to fix, I guess.

[2022-08-06 22:47] mcrmonkey commented on #409
It had renewed in the background but nginx was being a bit of a pain to pickup the change. @docapotamus restarted it and it should be back to normal now.

Please could you re-check from your side to make sure you're seeing the same ?

[2022-08-06 22:52] duritia commented on #409
Sure, @mcrmonkey ! I refreshed the page with error, now, and it worked. The other tabs I had open reloaded fine as well. So, everything seems back to normal.  (:

[2022-08-06 22:56] #409 closed

[2022-08-06 23:01] mcrmonkey commented on #409
Thanks for raising and rechecking for us :heart: